.carousel-section {
  background-color: #f8f9fa; 
  min-height: 800px; 
  overflow-x: scroll; 
  -webkit-overflow-scrolling: touch; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-section h1 {
  margin-bottom: 4rem;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #007bff;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}