.heading-home {
  font-size: 3rem;
  padding: 2rem;
  color: #333; 
}

.home-picture {
  max-width: 100%;
  border-radius: 10px; 
  overflow: hidden; 
}

.home-picture img {
  width: 100%; 
  transition: transform 0.5s ease; 
}

.homeSection {
  background-color: white;
  padding: 5vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2rem; 
}

@media (min-width: 768px){
  .heading-home {
    margin-top: 5rem;
  }

  .home-picture {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .animateLeft:hover {
    transform: translateX(-10px); 
  }
  
  .animateRight:hover {
    transform: translateX(10px); 
  }

  .home-picture:hover img {
    transform: scale(1.1); 
    transform-origin: center; 
  }
}

.animateLeft,
.animateRight {
  transition: transform 0.5s ease; 
}
  
/* Make it mobile friendly */ 
@media only screen and (max-width: 768px) {
  .homeSection {
    text-align: left;
    max-width: 1fr;
  }

  .heading-home {
    font-size: 2rem;
    margin-left: 0;
    margin-bottom: 2vh;
    padding: 0;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .animateLeft,
  .animateRight {
    margin-bottom: 30px;
  }
  
  .home-picture {
    margin-bottom: 30px;
    text-align: left;
  }
  
  .home-picture img {
    width: 1fr;
    height: 50vh;
    object-fit: cover;
    object-position: 70% 100%;
  }
}