.pricingSection {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.card {
  background-color: #f5f5f5;
  color: #333;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.discounted-price {
  font-size: 18px;
}

.original-price {
  text-decoration: line-through;
}

.benefits {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

.benefits li {
  margin-bottom: 10px;
}

.benefits li svg {
  color: #61dafb;
}

.blue-text {
  color: #61dafb;
}

.highlight {
  background-color: #61dafb;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.elite {
  background-color: #1a1a1a;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .pricingSection {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card {
    width: 50vh;
    margin-bottom: 5vh;
  }
}
