#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  background-color: lightblue;
  padding: 10px 0;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav img {
  height: 40px; /* Adjust as needed */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Section Styles */
section {
  padding: 50px 0;
  text-align: center;
}

/* Homepage Styles */
#home {
  margin-top: 3rem;
  background-color: #f9f9f9;
}

.heading-home {
  font-size: 3rem;
}

.home-picture {
  max-width: 100%;
  
}

/* About Section Styles */
#about {
  background-color: #eaf4ff;
}

.aboutSection {
  background-color: #f5f5f5;
  padding: 100px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  float: left;
  width: 50%;
  margin-right: 1rem;
}

.content h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.image {
  float: right;
  width: 40%;
}

.image img {
  max-width: 100%;
  height: auto;
}



/* Services Section Styles */
#services {
  background-color: #f0f0f0;
}

.servicesSection {
  padding: 100px 0;
}

.service {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 50%;
  margin-right: 30px;
  font-size: 30px;
}

.text {
  flex: 1;
}

.text h3 {
  margin-bottom: 10px;
}

.text p {
  margin: 0;
}


.homeSection {
  background-color: #f9f9f9;
  padding: 50px 0; 
  text-align: left;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.pricingSection {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.card {
  background-color: #000;
  color: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.price {
  font-size: 24px;
  font-weight: bold;
}

.discounted-price {
  font-size: 18px;
}

.benefits {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}

.benefits li {
  margin-bottom: 10px;
}

.benefits li svg {
  color: #00f; /* Blaue Farbe für Icons */
}

.footerSection {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footerSection p {
  margin: 0;
  text-align: center;
}

